/* General styling */
doc-fonts = "OpenSans-Light", Arial, Helvetica;
doc-header-font = "RobotoSlab";
button-focus = 0.2rem solid #0000CB;
link-color = #0000CB;
link-hover-color = #fff;
link-hover-background = #0000CB;

/* Main Content Area */
doc-content-background =  #F2F2F2;
doc-content-note-border = #000;

/* Header and Footer */
header-footer-color = #fff;
header-footer-background = #2F5508;
header-footer-link = #FFFF78;
header-footer-hover-color = #2F5508;
header-footer-hover-background = #FFFF78;
header-footer-focus = 0.2rem solid #FFFF78;
header-nav-link = #fff;
header-active-category = 0.2rem solid #fff;

/* Logo */
logo-color = #fff;
logo-background = #2F5508;
logo-hover-color = #2F5508;
logo-hover-background = #fff;
logo-focus = 0.2rem solid #fff;
logo-font-path = "../fonts/floe-logo";
logo-unicode = "\e600";

/* Table of Contents Sidebar */
toc-background = #fff;
toc-item-color = #275287;
toc-active-color = #fff;
toc-active-background = #275287;
toc-item-hover-color = #fff;
toc-item-hover-background = toc-background;
toc-item-hover-border = 0.2rem solid #275287;
//toc-border-color = #cfcfcf;

/* Table of Contents Hide-Show ribbon */
hideShow-background = #275287;
hideShow-color = #fff;
hideShow-focus = 0.2rem solid #fff;
hideShow-hover-color = #275287;
hideShow-hover-background = #fff;

/* Article Body area */
doc-articleBody = #fff;

figure-caption-color = #000;
figure-caption-border = #fff;
figure-background = #efefef;

/* Code Blocks */
code-block-background = #efefef;
code-block-border = 0.1rem dotted #ddd;
code-block-color = #000;
code-block-link-color = #0000CB;

/* Tables */
table-border-color = #e7e7e7;

/* UIO Table of Contents */
uio-toc-background = #efefef;

@import "doc-base.css.styl";
